{% extends 'base.html.twig' %}

{% block title %}Usuario
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	{% include 'partials/script_borrar.html.twig' %}
	<div class="mx-4 my-2">
		<a href="{{ path('app_usuario_index') }}" class="btn btn-light border-black mx-1">
			Volver
		</a>
		<a href="{{path('app_usuario_edit', {id: usuario.id})}}" class="btn btn-light border-info mx-1">
			Editar
		</a>
		<div class="btn btn-light border-danger m-0 p-0" id="borrarCelda">
			<button class="btn mx-o">
            	<span>Borrar</span>
			</button>
			<div class="rounded border border-gry p-3 borrarCelda">
				<p class="mx-2"> Estas seguro de borrar este elemento</p>
				<form method="post" action="{{ path('app_usuario_delete', {'id': usuario.id}) }}"class="m-0 p-0">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.id) }}">
					<button class="btn btn-light border-danger mx-1">Estoy Seguro</button>
				</form> 
			</div>
		</div>
		{# <form method="post" action="{{ path('app_usuario_delete', {'id': usuario.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="btn m-0 p-0">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.id) }}">
			<button class="btn btn-light border-danger mx-1">Borrar</button>
		</form> #}
	</div>
	<div class="overflow-hidden relative py-3 px-2 m-5"> 
		<div class="row mb-4">
			<div class="col">
				<h1 class="text-4xl font-bold mb-4">{{ usuario.Nombre }}</h1>
				<p class="mx-2">Apellidos:
					<b>{{ usuario.Apellidos }}</b>
				</p>
				<p class="mx-2">Role:
					<b>{{ usuario.Roles[0] }}</b>
				</p>
				<p>Email:
					<b>{{ usuario.Email }}</b>
				</p>
				<p>Password:
					<b>{{ usuario.Password }}</b>
				</p>
			</div>
			<div class="col">
				<div class="rounded border border-gry p-3 mt-4">
					<h3>Detalles de Información</h3>
					<p class="mx-2"> Fecha de Creacion: <b> {{ usuario.FechaCreada.format('Y-m-d H:i:s') }}</b></p>
					<p class="mx-2"> Fecha Actualizada: <b> {{ usuario.FechaUpdate ? usuario.FechaUpdate.format('Y-m-d H:i:s') : 'N/A' }}</b></p>
				</div>
			</div>
		</div>
	</div>
	{% include 'partials/footer.html.twig' %}
{% endblock %}
