{% extends 'base.html.twig' %}

{% block title %}PC Gaminng
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<main class="container-fluid px-3 pt-3 pb-5 mb-5" style="min-height:80vh;">
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-info mx-5">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		<div class="bg-white rounded shadow relative p-3 my-3 mx-5">
			{{ include('index/iniciado/_form.html.twig') }}
		</div>
		<div class="row g-3 justify-content-center">

			{% for producto in productos %}
				<div class=" bg-white p-3 rounded shadow text-center col-12 mx-2 py-4">
					<h4>{{ producto.Nombre }}</h4>
					<p>{{ producto.Descripcion|slice(0,100) }}...</p>
					<h5>{{ producto.Precio }}€</h5>
					<div class="flex justify-center my-3">
						<a href="{{ path('producto_online', {id: producto.id}) }}" class="btn btn-info mx-2">
							Ver
						</a>
						<a href="{{ path('add_carrito', {id: producto.id}) }}" class="btn btn-success mx-2">
							Añadir
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
	{% include 'partials/footer.html.twig' %}
{% endblock %}
