{% extends 'base.html.twig' %}

{% block title %}Producto
{% endblock %}

{% block body %}
	{% include 'partials/navbar_logout.html.twig' %}
	<div class="bg-dark py-4">
		<div class="container mx-auto px-2">
			<h1 class="text-6xl text-white text-center">
				{{ producto.Nombre }}
			</h1>
		</div>
	</div>

	<div class="container-fluid px-3 py-4">
		<div class="table-responsive bg-white rounded shadow overflow-hidden relative p-2 m-5">
			<table class="table border-separate border-spacing-3">
				<tbody>
					<tr>
						<th class="w-25">Nombre</th>
						<td>{{ producto.Nombre }}</td>
					</tr>
					<tr>
						<th class="w-25">Descripcion</th>
						<td>{{ producto.Descripcion }}</td>
					</tr>
					<tr>
						<th class="w-25">Caracteristicas</th>
						<td>{{ producto.Caracteristicas }}</td>
					</tr>
					<tr>
						<th class="w-25">Requisitos</th>
						{% if producto.Requisitos is empty%}
							<td>No hay requisitos</td>
						{% else %}
							<td>{{ producto.Requisitos }}</td>
						{% endif %}

					</tr>
					<tr>
						<th class="w-25">Disponible</th>
						<td>{{ producto.Disponible ? 'Yes' : 'No' }}</td>
					</tr>
					<tr>
						<th class="w-25">Precio</th>
						<td>{{ producto.Precio }}</td>
					</tr>
					<tr>
						<th class="w-25">Categoria</th>
						<td>{{ producto.Categoria.Nombre }}</td>
					</tr>
				</tbody>
			</table>
			<a href="{{ path('app_homepage') }}" class="btn btn-warning mx-2">
				Go Back
			</a>
		</table>
	</div>
{% endblock %}
