{% extends 'base.html.twig' %}

{% block title %}Producto
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}

	<div class="container-fluid px-3 py-4">
		<div class="table-responsive bg-white rounded shadow overflow-hidden relative py-3 px-2 m-5">
			<div class="text-xl font-bold mx-2">
				<h2 class="text-3xl mx-2">{{ producto.Nombre }}</h2>
				<p class="mx-2">Precio:
					{{ producto.Precio }}</p>
			</div>
			<div class="text-xl font-bold mx-2">
				<h2 class="text-3xl mx-2">Descripcion</h2>
				<p class="mx-2">{{ producto.Descripcion }}</p>
			</div>
			<div class="text-xl font-bold mx-2">
				<h2 class="text-3xl mx-2">Caracteristicas</h2>
				<p class="mx-2">{{ producto.Caracteristicas }}</p>
				<p class="mx-2 ">Categoria:
					{{ producto.Categoria.Nombre }}</p>
			</div>

			<div class="text-xl font-bold mx-2">
				<h2 class="text-3xl mx-2">Requisitos</h2>
				{% if producto.Requisitos is empty%}
					<p class="mx-2">No hay requisitos disponibles para este producto.</p>
				{% else %}
					<p class="mx-2">{{ producto.Requisitos }}</p>

				{% endif %}
			</div>
			<a href="{{ path('app_homepage') }}" class="btn btn-warning mx-2">
				Volver
			</a>
		</table>
	</div>
{% endblock %}
