<nav class="navbar border-bottom border-2 border-black bg-white">
	<div class="container-fluid">
		<div class="m-3">
			<a class="logo" href="{{ path('app_homepage') }}">PC GAMING</a>
		</div>
		<div class="flex-grow-1 m-3 text-black">
			<h6 class="fw-normal m-0"> Bienvenido, <b class="font-weight-bold" >{{ app.user.Nombre }} {{ app.user.Apellidos }} </b> </h6>
		</div>
		<div class="m-3 d-flex">
			<div class="my-2 mx-0" id="dropbox-carrito">
				<button class="btn btn-light border-black">
					<img src="https://cdn-icons-png.flaticon.com/512/287/287581.png" alt="Icono_Carrito" class="img-fluid m-0 p-0" style="max-width: 20px"> 
					{% if carro_num > 0 %}
						<b class="num_carro">{{ carro_num }}</b>
					{% endif %}
				</button>
				<ul class="menu__carrito">	
					{% for carro in carritos|slice(0, 3) %}
						<li class="border-bottom">
							<p>{{ carro.Producto.Nombre }}</p>
							<p>Cantida: {{ carro.Cantidad }} Precio: {{carro.Producto.Precio}}</p>
						</li>
					{% endfor %}
					{% if carro_num > 3 %}
						<li class="border-bottom">Y más...</li>
					{% endif %}
					<a href="{{ path('carrito_online', {idUser: app.user.id}) }}  class="btn btn-light border-black"">Ver Carrito</a>
				</ul>
			</div>
		</div>
		
		<div class="mx-2" id="dropbox-sesion">
			<button class="m-0 border-0 btn button_menu ">
				<img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="Icono_Usuario" class="img-fluid m-0 p-0" style="max-width: 20px">
            	<span><b class="font-weight-bold" >{{ app.user.Nombre }} {{ app.user.Apellidos }} </b></span>
			</button>
			<ul class="menu__sesion">
				{% if mostrarBoton %}
					<li class="border-bottom">
						<a href="{{ path('app_index_crud') }}" class="">Base de Datos</a>
					</li>
				{% endif %}
				<li class="border-bottom"><a href="{{ path('pedidos_online') }}" class="">Tus Pedidos</a></li>
				<li><a href="{{ path('app_logout') }}" class="logout__sesion">Cerrar sesión</a></li>
			</ul>
		</div>

		{# <div class="mx-2">
			<a href="{{ path('app_logout') }}" class="link-danger">Cerrar sesión</a>
		</div> #}
	</div>
</nav>

<script>
        const dropbox_2 = document.getElementById('dropbox-carrito');
        const menuList_2 = dropbox_2.querySelector('.menu__carrito');
		
        const dropbox_3 = document.getElementById('dropbox-sesion');
        const menuList_3 = dropbox_3.querySelector('.menu__sesion');

		dropbox_2.addEventListener('click', function(event) {
            event.stopPropagation();
            menuList_3.style.display = 'none';
            menuList_2.style.display = menuList_2.style.display === 'block' ? 'none' : 'block';
        });

        document.addEventListener('click', function() {
            menuList_2.style.display = 'none';
            menuList_3.style.display = 'none';
        });

		dropbox_3.addEventListener('click', function(event) {
            event.stopPropagation();
			menuList_2.style.display = 'none';
            menuList_3.style.display = menuList_3.style.display === 'block' ? 'none' : 'block';
        });

</script>