<nav class="navbar navbar-dark bg-primary p-2">
    <div class="container-fluid">
		<div class="m-3">
			<a class="navbar-brand" href="{{ path('app_homepage') }}">PC GAMING</a>
		</div>
    	<div class="m-3">
	        <a href="{{ path('app_index_crud') }}" class="btn btn-dark">Tablas Crud</a>	
	        <a href="{{ path('pedidos_online') }}" class="btn btn-info">Tus Pedidos</a>	
	        <a href="{{ path('carrito_online') }}" class="btn btn-warning">Tu Carrito</a>
	        <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
		</div>
    </div>
</nav>
