{{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-success" href="{{ path('app_producto_index') }}">Back to the list</a>
    <button class="btn btn-warning">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
