{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(form) }}
    <a class="btn btn-success" href="{{ path('app_producto_index') }}">Volver</a>
    <button class="btn btn-warning">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
