{% extends 'base.html.twig' %}

{% block title %}Mis Pedidos
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<div class="bg-info py-4">
		<div class="container mx-auto px-4">
			<h1 class="text-6xl text-white text-center">
				Pedidos
			</h1>
		</div>
	</div>
	<main class="container-fluid px-3 pt-3 pb-5 mb-5" style="min-height:80vh;">
		<h2 class="text-center mb-4">Total a Pagar: {{ TotalPrecio }}€</h2>
		<div class="row g-3 justify-content-center">
			{% if pedidos %}
				{% for pedido in pedidos %}
					<a href="{{ path('pedido_detalle', {id: pedido.id}) }}" class="d-flex flex-column bg-white p-3 btn btn-light rounded shadow text-center col-sm-6 col-md-4 col-lg-2 mx-5 py-4 border border-gry">
						<div class="mx-3">
							<h4 class="mx-2">Codigo de Pedido: {{ pedido.producto.Nombre }}</h4>
							<p class="mx-2">Cantidad: {{ pedido.cantidad }}</p>
							<h6 class="mx-2">Precio: {{ pedido.producto.precio }}€</h5>
							<h5 class="precio">Total: {{ pedido.producto.precio * pedido.cantidad }}€</h5>

							<img src="{{ asset('uploads/images/' ~ pedido.producto.Imagen) }}" alt="{{ pedido.producto.Nombre }}" class="img-fluid my-2" style="max-height: 150px; object-fit: contain;">

						</div>
					</a>
				{% endfor %}
			{% else %}
				<div class="d-flex flex-column bg-white p-3 btn btn-light rounded shadow text-center mx-5 py-4 border border-gry">
					No se encontraron pedidos.
				</div>
			{% endif %}
		</div>
	</main>
	{# <main class="container mx-auto px-4 py-8 my-3">
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-info mx-2 my-3">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		<div class="bg-white rounded shadow relative p-3 my-3">
			{{ include('index/iniciado/pedido/_form.html.twig') }}
		</div>
		{% if productos %}
				{% for producto in productos %}
					<a href="{{ path('producto_online', {id: producto.id}) }}" class="d-flex flex-column bg-white p-3 btn btn-light rounded shadow text-center col-sm-6 col-md-4 col-lg-2 mx-5 py-4 border border-gry">
						<div class="mx-3">
							<h4 class="mx-2">{{ producto.Nombre }}</h4>
							<p class="mx-2">{{ producto.Descripcion|slice(0,100) }}...</p>
							<h5 class="precio">{{ producto.Precio }}€</h5>
						</div>
						<div class="mx-3">
							<img src="{{ asset('uploads/images/' ~ producto.Imagen) }}" alt="{{ producto.Nombre }}" class="img-fluid my-2" style="max-height: 75px; object-fit: contain;">
						</div>
					</a>
				{% endfor %}
			{% else %}
				<div class="d-flex flex-column bg-white p-3 btn btn-light rounded shadow text-center mx-5 py-4 border border-gry">
					No se encontraron productos para "{{ busqueda }}".
				</div>
			{% endif %}
	</main> #}
	{% include 'partials/footer.html.twig' %}
{% endblock %}
