{% extends 'base.html.twig' %}

{% block title %}PC Gaminng
{% endblock %}

{% block body %}
	{% include 'partials/navbar_logout_1.html.twig' %}
	<main class="container-fluid px-3 pt-3 pb-5 mb-5" style="min-height:80vh;">
		<h2 class="mb-4">Categoría: "{{ categoria.Nombre }}"</h2>
		<div class="row g-3 justify-content-center px-1">
			{% if productos %}
				{% for producto in productos %}
					<a href="{{ path('producto_offline', {id: producto.id}) }}" class="d-flex flex-column bg-white p-3 btn btn-light rounded shadow text-center col-sm-6 col-md-4 col-lg-2 mx-5 py-4 border border-gry">
						<div class="mx-3">
							<h4 class="mx-2">{{ producto.Nombre }}</h4>
							<p class="mx-2">{{ producto.Descripcion|slice(0,100) }}...</p>
							<h5 class="precio">{{ producto.Precio }}€</h5>
						</div>
						<div class="mx-3">
							<img src="{{ asset('uploads/images/' ~ producto.Imagen) }}" alt="{{ producto.Nombre }}" class="img-fluid my-2" style="max-height: 75px; object-fit: contain;">
						</div>
					</a>
				{% endfor %}
			{% else %}
				<div class="d-flex flex-column bg-white p-3 btn btn-light rounded shadow text-center mx-5 py-4 border border-gry">
					No se encontraron productos con la categoria "{{ categoria.Nombre }}".
				</div>
			{% endif %}
		</div>
	</main>
	{% include 'partials/footer.html.twig' %}
{% endblock %}
