{% extends 'base.html.twig' %}

{% block title %}Info. de Codigo Pedido: {{ codigo_pedido.codigo }}
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	{% include 'partials/script_borrar.html.twig' %}
	
	<main class="container-fluid p-0 m-0">
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-info mx-2 my-3">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		<div class="mx-4 my-2">
			<a href="{{ path('app_codigo_pedidos_index') }}" class="btn btn-light border-black mx-1">
				Volver
			</a>
			<a href="{{path('app_codigo_pedidos_edit', {id: codigo_pedido.id})}}" class="btn btn-light border-info mx-1">
				Editar
			</a>
			<div class="btn btn-light border-danger m-0 p-0" id="borrarCelda">
				<button class="btn mx-o">
	            	<span>Borrar</span>
				</button>
				<div class="rounded border border-gry p-3 borrarCelda">
					<p class="mx-2"> Estas seguro de borrar este elemento</p>
					<form method="post" action="{{ path('app_codigo_pedidos_delete', {'id': codigo_pedido.id}) }}"class="m-0 p-0">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ codigo_pedido.id) }}">
						<button class="btn btn-light border-danger mx-1">Estoy Seguro</button>
					</form> 
				</div>
			</div>
		</div>
		<div class="row mx-4 my-2">
			<div class="col-3">
				<h1 class="text-4xl font-bold mb-4">Codigo de Pedido: {{ codigo_pedido.codigo }}</h1>
				<p class="mx-2 text-secondary">Fecha de compra:
					{{ codigo_pedido.fecha.format('d-m-Y') }}</p>
				<p class="mx-2">Estado:
					<b class="precio">{{ codigo_pedido.estado == 0 ? 'Preparando' : codigo_pedido.estado == 1 ? 'En Reparto' : 'Enviado' }}</b>
				</p>
				<p class="mx-2">Del Cliente: {{ codigo_pedido.Cliente.Nombre }} {{ codigo_pedido.Cliente.Apellidos }}</p>
			</div>
			<div class="col row g-3 justify-content-right m-0 p-0 overflow-auto" style="height:550px;">
				{% if pedidos is empty%}
					<div class="bg-white rounded shadow overflow-hidden relative my-3">
						<div class="px-6 py-4">
							<div class="font-bold text-xl mx-2">No hay productos en el pedido</div>
						</div>
						<a href="{{ path('app_pedidos_new') }}" class="bg-white p-3 btn btn-light rounded shadow text-center col-12 col-sm-6 col-md-4 col-lg-2 py-4 border border-gry">
							<h4 class="text-primary">Add One +</h4>
						</a>
					</div>
				{% else %}
					<a href="{{ path('app_pedidos_new') }}" class="bg-white p-3 btn btn-light rounded shadow text-center col-12 col-sm-6 col-md-4 col-lg-2 py-4 border border-gry">
						<h4 class="text-primary">Add One +</h4>
					</a>
					{% for pedido in pedidos %}
						<a href="{{path('app_pedidos_show', {id: pedido.id})}}" class="bg-white p-3 btn btn-light rounded shadow text-center col-12 col-sm-6 col-md-4 col-lg-2 py-4 border border-gry">
							<h4>{{ pedido.Producto.Nombre }}</h4>
							<img src="{{ asset('uploads/images/' ~ pedido.Producto.Imagen) }}" alt="{{ pedido.Producto.Nombre }}" class="img-fluid my-2" style="max-height: 150px; object-fit: contain;">
							<p>Cantidad: <b>{{ pedido.Cantidad }}</b></p>
						</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</main>

	{# <div class="mx-4 my-2">
		<a href="{{ path('app_codigo_pedidos_index') }}" class="btn btn-light border-black mx-1">
			Volver
		</a>
		<a href="{{path('app_codigo_pedidos_edit', {id: codigo_pedido.id})}}" class="btn btn-light border-info mx-1">
			Editar
		</a>
		<div class="btn btn-light border-danger m-0 p-0" id="borrarCelda">
			<button class="btn mx-o">
            	<span>Borrar</span>
			</button>
			<div class="rounded border border-gry p-3 borrarCelda">
				<p class="mx-2"> Estas seguro de borrar este elemento</p>
				<form method="post" action="{{ path('app_codigo_pedidos_delete', {'id': codigo_pedido.id}) }}"class="m-0 p-0">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ codigo_pedido.id) }}">
					<button class="btn btn-light border-danger mx-1">Estoy Seguro</button>
				</form> 
			</div>
		</div>
	</div>
	<div class="overflow-hidden relative py-3 px-2 m-5"> 
		<div class="row mb-4">
			<div class="col">
				<h1 class="text-4xl font-bold mb-4">Codigo de Pedido: {{ codigo_pedido.codigo }}</h1>
				<p class="mx-2 text-secondary">Id: {{ codigo_pedido.id }}</p>
				<p class="mx-2 text-secondary">Fecha de compra:
					{{ codigo_pedido.fecha.format('d-m-Y') }}</p>
				<p class="mx-2">Estado:
					<b class="precio">{{ codigo_pedido.estado == 0 ? 'Preparando' : codigo_pedido.estado == 1 ? 'En Reparto' : 'Enviado' }}</b>
				</p>
				<p class="mx-2">Del Cliente: {{ codigo_pedido.Cliente.Nombre }} {{ codigo_pedido.Cliente.Apellidos }}</p>
			</div>
		</div>
	</div> #}
{% endblock %}
