{% extends 'base.html.twig' %}

{% block title %}Pedidos index
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<div class="bg-gray-900 py-16">
		<div class="container mx-auto px-4">
			<h1 class="text-6xl text-white text-center">
				Pedidos
			</h1>
		</div>
	</div>
	{# Este bloque es para el mensaje de error #}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="bg-white rounded-lg shadow-lg overflow-hidden relative">
				<div class="px-6 py-4 mb-2">
					<p class="text-gray-700 text-base">
						{{ message }}
					</p>
				</div>
			</div>
		{% endfor %}
	{% endfor %}

	<div class="container mx-auto px-4 py-8">
		{% if pedidos is empty%}
			<div class="bg-white rounded-lg shadow-lg overflow-hidden relative">
				<div class="px-6 py-4">
					<div class="font-bold text-xl mb-2">No users found</div>
					<p class="text-gray-700 text-base">
						There are no users in the database.
						<a href="{{ path('app_pedidos_new') }}" class="text-blue-500">Add one</a>
					</p>
				</div>
			</div>

		{% else %}
			<div class="bg-blue-500 hover:bg-blue-700 rounded-lg shadow-lg overflow-hidden relative mx-6 my-4 w-3xs text-center text-xl">
				<div class="px-6 py-4">
					<a href="{{ path('app_pedidos_new') }}" class="text-white">Add One</a>
				</div>
			</div>
			<br>
			<div class="w-auto">
				<div class="bg-white rounded-lg shadow-lg flex flex-row justify-center items-center overflow-hidden relative px-6 py-4">
					<table class="table border-separate border-spacing-3">
						<thead>
							<tr class="border-dashed">
								<th>Id</th>
								<th>Producto</th>
								<th>Cliente</th>
								<th>Cantidad</th>
								<th>Estado</th>
								<th>FechaPedido</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for pedido in pedidos %}
								<tr>
									<td>{{ pedido.id }}</td>
									<td>{{ pedido.Producto.Nombre }}</td>
									<td>{{ pedido.Usuario.Nombre }}</td>
									<td>{{ pedido.Cantidad }}</td>
									<td>{{ pedido.Estado == 0 ? 'Preparando' : pedido.Estado == 1 ? 'En Reparto' : 'Enviado' }}</td>
									<td>{{ pedido.FechaPedido ? pedido.FechaPedido|date('Y-m-d') : '' }}</td>
									<td>
										<div class="flex justify-center my-3">
											<div class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-l text-xs">
												<a href="{{path('app_pedidos_show', {id: pedido.id})}}" class="font-bold py-2 px-4">
													<i class="fas fa-eye"></i>
													View
												</a>
											</div>
											<div class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 text-xs">
												<a href="{{path('app_pedidos_edit', {id: pedido.id})}}" class="font-bold py-2 px-4">
													<i class="fas fa-edit"></i>
													Edit
												</a>
											</div>
											<div class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-r text-xs">
												<form method="post" action="{{ path('app_pedidos_delete', {'id': pedido.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
													<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pedido.id) }}">
													<button class="btn">Delete</button>
												</form>
											</div>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
