<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
	<div class="flex items-center flex-shrink-0 m-5 mr-6">
		<a href="{{ path('app_index') }}">
			<span class="font-semibold text-xl tracking-tight">PC GAMING</span>
		</a>
	</div>
	<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
		<div class="text-sm lg:flex-grow">
			<a href="{{ path('app_usuario_index') }}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0 m-5">
				Tabla Usuario
			</a>
			<a href="{{ path('app_producto_index') }}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0 m-5">
				Tabla Producto
			</a>
			<a href="{{ path('app_categoria_index') }}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0 m-5">
				Tabla Categoria
			</a>
			<a href="{{ path('app_carrito_index') }}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0 m-5">
				Tabla Carrito
			</a>
			<a href="{{ path('app_pedidos_index') }}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0 m-5">
				Tabla Pedidos
			</a>
		</div>
	</div>
	<div class="w-full block lg:items-center lg:w-auto">
		<div class="text-sm flex justify-end">
			
			<a href="{{ path('app_pedidos_index') }}" class="inline-block text-sm px-4 py-2 leading-none border bg-green-500 rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-green-400 mt-4 lg:mt-0 m-5">
				Carrito
			</a>
			<a href="{{ path('app_pedidos_index') }}" class="inline-block text-sm px-4 py-2 leading-none border bg-red-500 rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-red-400 mt-4 lg:mt-0 m-5">
				Logout
			</a>
		</div>
	</div>
</nav>
