{% extends 'base.html.twig' %}

{% block title %}Mi Carrito
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<main class="container-fluid p-0 m-0">
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-info mx-2 my-3">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		<div class="row mx-4 my-2">
			<div class="col row g-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 justify-content-start"  style="overflow-y:auto; max-height: 500px;">
			{% if carritos is empty%}
				<div class="bg-white rounded shadow overflow-hidden relative my-3">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mx-2">No hay productos en el carrito</div>
					</div>
				</div>
			{% else %}
				{% for carrito in carritos %}
					<div class="col" style="min-width: 300px;  max-height: 450px;" >
						<div class="d-flex flex-column h-100 bg-white p-3 bg-white rounded shadow text-start py-4 border border-gry">
							<div>
								<h4>{{ carrito.Producto.Nombre }}</h4>
								<img src="{{ asset('uploads/images/' ~ carrito.Producto.Imagen) }}" alt="{{ carrito.Producto.Nombre }}" class="img-fluid my-2" style="max-height: 150px; object-fit: contain;">
								{% if carrito.Producto.Descuento %}
								<p class="mx-2">
									Precio: <b class="precio">{{ (carrito.Producto.Precio *(1-(carrito.Producto.Descuento/100)))| number_format(2) }}€</b> 
								</p>
								{% else %}
									<p class="mx-2">
										Precio: <b class="precio">{{ carrito.Producto.Precio }}€</b>
									</p>
								{% endif %}
								<h6>Cantidad: {{ carrito.Cantidad }}
								<div class="flex justify-center my-3">
									<a href="{{path('app_cambiar', {id: carrito.id})}}" class="btn btn-light border-black">
										Añadir/Reducir
									</a>
									<form method="post" action="{{ path('app_quitar', {'id': carrito.id}) }}" onsubmit="return confirm('Estas seguro de quitar este producto del carrito?');" class="mt-1">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carrito.id) }}">
										<button class="btn btn-light border-black">
											Quitar
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			</div>
			<div class="col-3">
				<h1 class="text-4xl font-bold mb-4">Informacion del Carrito</h1>
				<p class="mx-2 text-secondary">Total de productos {{ carro_num }}</p>
				{% if carritos%}
					<h4 class="font-bold mb-4">Precio Total</h4>
					<h5 class="precio">{{ Total_precio_carrito|number_format(2) }}€</h5>

					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miVentanaModal">
  						Pasae a pago
					</button>

					<div class="modal fade" id="miVentanaModal" tabindex="-1" aria-hidden="true">
  						<div class="modal-dialog">
    						<div class="modal-content">
							    <div class="modal-header">
							        <h5 class="modal-title">Informacion de Pago</h5>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
							    </div>
								<div class="modal-body">
									<form method="post" action="{{ path('app_comprar') }}">
							    	
					        			<div class="mb-3">
											<label for="cardNumber" class="form-label">Numero de Tarjeta</label>
											<input type="text" class="form-control" maxlength="19" inputmode="numeric" pattern="[0-9]{13,19}" title="El número de tarjeta debe tener entre 13 y 19 dígitos, sin espacios." id="cardNumber" name="cardNumber" required>
										</div>
										<div class="mb-3">
											<label for="expiryDate" class="form-label">Fecha de Expiracion</label>
											<input type="tel" class="form-control" id="cardExpiry" name="cardExpiry" placeholder="MM/AA" maxlength="5" pattern="(0[1-9]|1[0-2])\/[0-9]{2}" title="Inserte una fecha válida en formato MM/AA (Ej: 05/28)" inputmode="numeric" autocomplete="cc-exp" required>	
										</div>
										<div class="mb-3">
											<label for="cvv" class="form-label">CVV</label>
											<input type="text" class="form-control" minlength="3" maxlength="3" pattern="^[0-9]{3}$" title="El CVV debe tener exactamente 3 dígitos numéricos." inputmode="numeric" id="cvv" name="cvv" required>
										</div>
										<button type="submit" class="btn btn-success">Comprar</button>
									</form>
					    		</div>
					    	</div>
					  	</div>
					</div>
				{% endif %}
			</div>
		</div>
	</main>
	<script>
		document.querySelectorAll('.precio').forEach(element => {
			element.textContent = element.textContent.replace('.', ',');
		});
	</script>
	<script>
		document.getElementById('cardNumber').addEventListener('input', function (e) {
  			// Borra cualquier caracter que NO sea un número
  			e.target.value = e.target.value.replace(/\D/g, '');
		});
		document.getElementById('cardExpiry').addEventListener('input', function (e) {
	  		// Borra cualquier caracter que NO sea un número
	  		e.target.value = e.target.value.replace(/\D/g, '');
			// Agrega una barra despues de los primeros dos dígitos
			if (e.target.value.length > 2) {
				e.target.value = e.target.value.slice(0, 2) + '/' + e.target.value.slice(2);
			}
			// El MM que sea entre 01 y 12
			const month = parseInt(e.target.value.slice(0, 2));
			if (month < 1) {
				e.target.value = '01' + e.target.value.slice(2);
			} else if (month > 12) {
				e.target.value = '12' + e.target.value.slice(2);
			}
		});
		document.getElementById('cvv').addEventListener('input', function (e) {
	  		// Borra cualquier caracter que NO sea un número
  			e.target.value = e.target.value.replace(/\D/g, '');
		});	
		document.addEventListener('DOMContentLoaded', function () {
			
		});
	</script>
	{% include 'partials/footer.html.twig' %}
{% endblock %}
