{% extends 'base.html.twig' %}

{% block title %}Carrito index
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<div class="bg-warning py-4">
		<div class="container mx-auto px-4">
			<h1 class="text-6xl text-white text-center">
				Carrito
			</h1>
		</div>
	</div>
	{# Este bloque es para el mensaje de error #}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="bg-white rounded shadow overflow-hidden relative">
				<div class="px-6 py-4 mb-2">
					<p class="text-gray-700 text-base">
						{{ message }}
					</p>
				</div>
			</div>
		{% endfor %}
	{% endfor %}

	<div class="container mx-auto px-4 py-8">
		{% if carritos is empty%}
			<div class="px-6 py-4">
				<a href="{{ path('app_anadir') }}" class="btn btn-primary px-4 py-2">Añadir Producto</a>
			</div>
			<div class="bg-white rounded shadow overflow-hidden relative">
				<div class="px-6 py-4">
					<div class="font-bold text-xl mx-2">No hay productos en el carrito</div>
				</div>
			</div>

		{% else %}
			<div class="px-6 py-4">
				<a href="{{ path('app_anadir') }}" class="btn btn-primary mx-2 px-4 py-2">Añadir Producto</a>
				<a href="{{ path('app_comprar') }}" class="btn btn-success mx-2 px-4 py-2">Comprar</a>
			</div>
			<div class="d-flex justify-content-center bg-white rounded shadow relative p-2">
				<table class="table-responsive border-separate border-spacing-3 w-100 text-center">
					<thead>
						<tr class="border-dashed">
							<th>Producto</th>
							<th>Precio Original</th>
							<th>Cantidad</th>
							<th>Precio Total</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for carrito in carritos %}
							<tr>
								<td>{{ carrito.Producto.Nombre }}</td>
								<td>{{ carrito.Producto.Precio }}€</td>
								<td>{{ carrito.Cantidad }}</td>
								<td>{{ carrito.Cantidad * carrito.Producto.Precio }}€</td>
								<td>
									<div class="row g-3 justify-content-center">
										<a href="{{path('app_cambiar', {id: carrito.id})}}" class="btn btn-warning col-1 mx-1 w-auto">
											<i class="fas fa-edit"></i>
										</a>
										<form method="post" action="{{ path('app_carrito_delete', {'id': carrito.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="col-1 mx-1">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carrito.id) }}">
											<butto<button class="btn btn-danger w-auto">
												<i class="fas fa-trash"></i>
											</button>
										</form>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>
{% endblock %}
