{{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-warning" href="{{ path('app_pedidos_index') }}">Back to list</a>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
