{% extends 'base.html.twig' %}

{% block title %}Tabla Pedidos
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<main class="container-fluid p-0 m-0" style="min-height:80vh;">
		<div class="bg-dark py-4">
			<div class="container mx-auto px-4">
				<h1 class="text-6xl text-white text-center">
					Pedido
				</h1>
			</div>
		</div>
		{# Este bloque es para el mensaje de error #}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="bg-white rounded shadow overflow-hidden relative">
					<div class="px-6 py-4 mx-2">
						<p class="text-gray-700 text-base">
							{{ message }}
						</p>
					</div>
				</div>
			{% endfor %}
		{% endfor %}

		<div class="row g-3 justify-content-center my-3 mx-0">
			{% if pedidos is empty%}
				<div class="bg-white rounded shadow overflow-hidden relative">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mx-2">Pedidos no encontrados</div>
						<p class="text-gray-700 text-base">
							No hay pedidos en la base de datos.
						</p>
					</div>
				</div>
				<a href="{{ path('app_pedidos_new') }}" class="d-flex flex-column bg-white p-3 btn btn-light rounded shadow text-center col-12 col-sm-6 col-md-4 col-lg-2 mx-2 py-4 border border-gry">
					<h4>Add One +</h4>
				</a>

			{% else %}
				<a href="{{ path('app_pedidos_new') }}" class="bg-white p-3 btn btn-light rounded shadow text-center col-12 col-sm-6 col-md-4 col-lg-2 mx-2 py-4 border border-gry">
					<h4 class="text-primary">Add One +</h4>
				</a>
				{% for pedido in pedidos %}
					<a href="{{path('app_pedidos_show', {id: pedido.id})}}" class="bg-white p-3 btn btn-light rounded shadow text-center col-12 col-sm-6 col-md-4 col-lg-2 mx-2 py-4 border border-gry">
						<h4>{{ pedido.Producto.Nombre }}</h4>
						<img src="{{ asset('uploads/images/' ~ pedido.Producto.Imagen) }}" alt="{{ pedido.Producto.Nombre }}" class="img-fluid my-2" style="max-height: 150px; object-fit: contain;">
						<p>Cantidad: <b>{{ pedido.Cantidad }}</b></p>
						<p>Codigo Pedido: <b>{{ pedido.CodigoPedido }}</b></p>
					</a>
				{% endfor %}
			{% endif %}
		</div>
	</main>
	{% include 'partials/footer.html.twig' %}
{% endblock %}
