{% extends 'base.html.twig' %}

{% block title %}Info. del Pedido de {{ pedido.Usuario.nombre }}. Producto: {{ pedido.Producto.nombre }}
{% endblock %}


{% block body %}
	{% include 'partials/navbar.html.twig' %}
	{% include 'partials/script_borrar.html.twig' %}
	<div class="mx-4 my-2">
		<a href="{{ path('app_codigo_pedidos_show', {id: pedido.CodigoPedidoRelacion.id}) }}" class="btn btn-light border-black mx-1">
			Volver
		</a>
		<a href="{{path('app_pedidos_edit', {id: pedido.id})}}" class="btn btn-light border-info mx-1">
			Editar
		</a>
		<div class="btn btn-light border-danger m-0 p-0" id="borrarCelda">
			<button class="btn mx-o">
            	<span>Borrar</span>
			</button>
			<div class="rounded border border-gry p-3 borrarCelda">
				<p class="mx-2"> Estas seguro de borrar este elemento</p>
				<form method="post" action="{{ path('app_pedidos_delete', {'id': pedido.id}) }}"class="m-0 p-0">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pedido.id) }}">
					<button class="btn btn-light border-danger mx-1">Estoy Seguro</button>
				</form> 
			</div>
		</div>
	</div>
	<div class="overflow-hidden relative py-3 px-2 m-5"> 

		<div class="row mb-4">
			<div class="col">
				<img src="{{ asset('uploads/images/' ~ pedido.Producto.Imagen) }}" alt="{{ pedido.Producto.Nombre }}" class="img-fluid my-2" style="max-height: 300px; object-fit: contain;">
			</div>
			<div class="col">
				<h1 class="text-4xl font-bold mb-4">{{ pedido.Producto.Nombre }}</h1>
				<p class="mx-2 text-secondary">Categoria:
					{{ pedido.Producto.Categoria.Nombre }}</p>
				<p class="mx-2">Precio:
					<b class="precio">{{ pedido.Producto.Precio }}€</b>
				</p>
				<div class="rounded border border-gry p-3 mt-4">
					<h3>Detalles del Pedido</h3>
					<p class="mx-2"> Producto de <b> {{ pedido.Usuario.nombre }}</b></p>
					<p class="mx-2"> Cantidad: <b> {{ pedido.Cantidad }}</b></p>
					<p class="mx-2"> Codigo Pedido: <b> {{ pedido.CodigoPedido }}</b></p>
				</div>
			</div>
		</div>
	</div>
	{% include 'partials/footer.html.twig' %}
{% endblock %}
